.netflix-bg {
    background-image:linear-gradient(
    rgba(0, 0, 0, 0.9), 
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)    
    ), url('https://miro.medium.com/v2/resize:fit:786/format:webp/1*5lyavS59mazOFnb55Z6znQ.png'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.diagonal-gradient {
    background: linear-gradient( 149deg, #192247 0%, #210e17 99.08% );
}
.netflix-mobile-game-bg {
    background-image:url('https://assets.nflxext.com/ffe/siteui/acquisition/nmhp/games-banner-image-cropped.png');     
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
.text-stroke-1 {
    -webkit-text-stroke: 2px gainsboro;
    color: black; 
}  